# Tool binaries folder
.vscode
debug/
# Built
floppy
gdb\.txt

*.sys
*.bin
*.exe
*.elf
\.gdb_history

mimosa-build/
archive-items/home/sam

*.scratch

\.code-workspace
# gambit why? we want the library
gambit/bin

*.o

*.img

*.map

*.elf

\.ycm_extra_conf\.py

tags

utils/bootsectinspect/.idea/
utils/bootsectinspector/.idea/
utils/bootsectinspect/cmake-build-debug/
libc/gambit-v4_9_3/
libc/gambit-v4_9_3\.tgz

Session.vim
